/*Обнуление*/


* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
	width: auto;
	height: auto;
	max-width: 100%;
}


/*--------------------*/
/* .for_page {
	position: relative;
	min-height: 100%;
}

.page {
	padding-bottom: 536px;
}

.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
} */
.container {
	width: 1233px;
	margin: 0 auto;
}
/*Header start*/
.burger-menu{
	display: none;
}
.header{
	background: #FFFFFF;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
.nav_menu{
	display: flex;
	justify-content: space-between;
  align-items: center;
}
.nav_menu .logo{
	margin-top: 6px;
	margin-bottom: 4px;
}
.nav_menu .menu {
	display: flex;
	align-items: center;
}
.nav_menu .menu > li{
  position: relative;
	margin-right: 40px;

}
.nav_menu .menu > .tel{
	margin-right: 0;
	background: #E75624;
  border: 1px solid #E75624;
  border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	width: 171px;
  height: 46px;
	transition: 0.6s linear;
	-webkit-transition: 0.6s linear;
	-moz-transition: 0.6s linear;
	-ms-transition: 0.6s linear;
}
.nav_menu .menu > .tel:hover {
	background-color: #F7CF0D;
	color: white;
	border: 1px solid #000000;
}
.nav_menu .menu > .tel > a{
	font-family: 'Readex Pro';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	padding: 13px 20px 13px 20px;
	margin-left: 19px;
	background: url('../img/phone.png') 0px 16px no-repeat;
	transition: 0.6s linear;
	-webkit-transition: 0.6s linear;
	-moz-transition: 0.6s linear;
	-ms-transition: 0.6s linear;
}
.nav_menu .menu > .tel > a:hover{
	color: white;
}
.nav_menu .number { 
	display: none;
}
.nav_menu .number{
	margin-right: 0;
	background: #E75624;
  border: 1px solid #E75624;
  border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	width: 171px;
  height: 46px;
	transition: 0.6s linear;
	-webkit-transition: 0.6s linear;
	-moz-transition: 0.6s linear;
	-ms-transition: 0.6s linear;
	margin: 3px 0;
}
.nav_menu .number:hover{
	background-color: #F7CF0D;
	color: white;
	border: 1px solid #000000;
}
.nav_menu .number a{
	font-family: 'Readex Pro';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 46px;
	color: #FFFFFF;
	padding: 13px 20px 15px 20px;
	margin-left: 19px;
	background: url('../img/phone.png') 0px 16px no-repeat;
}
.nav_menu .number a:hover {
	color: white;
}
.nav_menu .menu > li > ol{
	position: absolute; 
  padding-left: 0;
  display: none;
	left: -63px;
	top: 61px;
}
.nav_menu .burger-menu_nav .tel{
	margin-right: 0;
	background: #E75624;
  border: 1px solid #E75624;
  border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	display: inline-block;
	width: 227px;
	height: 58px;
	transition: 0.6s linear;
	-webkit-transition: 0.6s linear;
	-moz-transition: 0.6s linear;
	-ms-transition: 0.6s linear;
	margin-left: 45px;
	margin-top: 40px;
}
.nav_menu .burger-menu_nav .tel a {
	font-family: 'Readex Pro';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 58px;
	color: #FFFFFF;
	background: url('../img/phone.png') 35px 5px no-repeat;
	padding-left: 56px;
}
.hover {
	width: 220px;
	height: 41px;
	position: absolute;
	background-color: transparent;
	left: -63px;

}
.nav_menu .menu > li:hover > ol {
	display: flex;
	flex-direction: column;
	text-align: center;
	background: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	
}
.nav_menu .menu > li > ol > li{
	width: 152px;
	padding-top: 17px;
	padding-bottom: 17px;
	margin: 0 30px;
	transition: 0.6s linear;
	-webkit-transition: 0.6s linear;
	-moz-transition: 0.6s linear;
	-ms-transition: 0.6s linear;
}
.nav_menu .menu > li > ol > li:hover{
	background: #F7CF0D;
	transition: 0.5s linear all;	
	margin: 0;
	width: 100%;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-ms-border-bottom-right-radius: 10px;
	-ms-border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.nav_menu .menu > li > ol > li > a:hover{
	font-family: 'Readex Pro';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #E75624;
}
.nav_menu .menu .border_line {
	border-top: 1px solid #E75624;
	transition: 0.6s linear;
}
.nav_menu .menu .border_line:hover{
	border-top: 1px solid #F7CF0D;
}


.nav_menu .menu a{
	display: block;
  box-sizing: border-box;
	font-family: 'Readex Pro';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #E75624;
	transition: 0.5s linear;
	-webkit-transition: 0.5s linear;
	-moz-transition: 0.5s linear;
	-ms-transition: 0.5s linear;	
}
.nav_menu .menu a:hover{
	color: #8d3416;
	font-weight: 700;

	
}


/* burger menu */
.burger-menu_button {
  position: fixed;
  top: 13px;
  left: 20px;
  z-index: 30;
  width: 32px;
  height: 28px;
  background-color: transparent;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s linear;
	-webkit-transition: 0.4s linear;
	-moz-transition: 0.4s linear;
	-ms-transition: 0.4s linear;
	
}
.burger-menu_button:hover .burger-menu_lines {
  filter: brightness(0.7);
}

.burger-menu_button:hover {
  background-color: transparent;
}

.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
  position: absolute;
  width: 22px;
  height: 2px;
  background-color: #E75624;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu_lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.burger-menu_lines::before {
  content: '';
  top: -6px;
}
.burger-menu_lines::after {
  content: '';
  top: 6px;
}


.burger-menu_active .burger-menu_lines {
  background-color: transparent;
}
.burger-menu_active .burger-menu_lines::before {
  top: 0;
  transform: rotate(45deg);
}
.burger-menu_active .burger-menu_lines::after{
  top: 0;
  transform: rotate(-45deg);
}

.burger-menu_nav {
  margin-top: 50px;
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  flex-flow: column;
  height: 100%;
  background: #FEE8CE;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  overflow-y: auto;
  right: -300%;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
.burger-menu_active .burger-menu_nav {
  left: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
	width: 313px;
}
.burger-menu_link {
  font-family: 'Readex Pro';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 25px;
	color: #E75624;
	margin-left: 45px;
	margin-top: 40px;

}
.burger-menu_nav .sub_link{
	
}
.burger-menu_nav .sub_link a{
	display: inline-block;
	margin-top: 15px;
	margin-left: 45px;
	font-family: 'Readex Pro';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #252525;
}
.burger-menu_nav .sub_link a:first-child{
	margin-left: 0;
}

.burger-menu_link:hover {
  filter: brightness(0.9);
}
.burger-menu_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.burger-menu_active .burger-menu_overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0);
}





/*Header end*/
/* Testimonials start*/
.testimonials {
	padding-top: 367px;
	padding-bottom: 98px;
	
}
.container_testimonials {
	width: 1248px;
	margin: 0 auto;
}
.testimonials .title h2{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 42px;
	text-align: center;
	color: #000000;
	margin-bottom: 6px;
}
.testimonials .title p{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	color: #999999;
}
.testimonials .title{
	margin-bottom: 32px;
}


.slider .item_child {
	display: flex;
	flex-direction: column;
	justify-content: space-between;	
	padding: 40px;
	width: 380px;
	height: 231px;
	background: #FFFFFF;
    border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-ms-border-radius: 15px; 
	transition: 0.6s linear;

}
.slider .slick-track {
	display: flex;
	justify-content: center;
	
}
.slider .item {
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15); 
	box-sizing: border-box;
	background: linear-gradient(to right, #FF6800 0%, #FF1F00 100%);
	border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-ms-border-radius: 15px; 
	padding: 2px;
	margin: 16px;
	margin-bottom: 32px;
	cursor: pointer;
	transition: 0.6s linear;
	-webkit-transition: 0.6s linear;
	-moz-transition: 0.6s linear;
	-ms-transition: 0.6s linear;
	
} 
.slider .item:hover .item_child{
	background-color: rgba(211, 207, 0, 0.918);
}









.slider .nonPadding{
	padding-right: 0;
}
.slider .item_child .text p{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	color: #808080;
}
.slider .item_child .user{
	display: flex;
	justify-content: center
}
.slider .item_child .user_image {
	margin-right: 6px;
}
.slider .item_child .user_name h4{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 14px;
	color: #333333;
}
.slider .item_child .user_name p{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	font-size: 10px;
	line-height: 10px;
	color: #666666;
}
.slider .item_child .user_name{
	margin-left: 6px;
	display: flex;
	flex-direction: column;
  justify-content: space-evenly;
}
.slider .slick-dots{
	display: flex;
	justify-content: center;
}
.slider .slick-dots .slick-active button{
	width: 16px;
	height: 16px;
	background: linear-gradient(90deg, #FF6800 0%, #FF1F00 100%);
	display: block;
	color: transparent;
	border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-ms-border-radius: 15px; 
}
.slider .slick-dots button{
	margin: 0 12px;
	width: 16px;
	height: 16px;
	background: #D9D9D9;
	border: 2px solid #FFFFFF;
	color: transparent;
	border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-ms-border-radius: 15px; 
}
/* Testimonials end*/

/* question start */
.question{
	padding-bottom: 76px;
}
.question_box {
	display: flex;
	justify-content: space-between;
}
.question_text{
	width: 488px;
}
.question .accordion{
	width: 488px;
	margin-top: 20px;
}
.question_text .title h2{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 42px;
	color: #000000;
	margin-top: 72px;
	margin-bottom: 5px;
}
.question_text .title p{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #999999;
}

/* accordion */



.accordion-item {
	 box-sizing: border-box;
	overflow: hidden;
  color: #111;
	margin-top: 10px;
  background: linear-gradient(to right, #FF6800 0%, #FF1F00 100%);
	padding: 2px;
	border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-ms-border-radius: 15px;
	transition: 0.4s linear;

}


.accordion-item-header {
  padding: 16px 0 16px 18px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
	background: linear-gradient(90deg, #FF6800 0%, #FF1F00 100%);
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	-ms-border-top-left-radius: 15px;
	-ms-border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	color: #FFFFFF;
	transition: 0.4s linear;
	-webkit-transition: 0.4s linear;
	-moz-transition: 0.4s linear;
	-ms-transition: 0.4s linear;
}

.accordion-item:hover{
	box-shadow: 0px 0px 20px black;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 36px;
	font-weight: 100;
  position: absolute;
  right: 18px;
}

.accordion-item-header.active::after {
  content: "\2212";
	font-size: 36px;
	font-weight: 100;
  position: absolute;
  right: 18px;
}


.accordion-item-body {
	background-color: white;
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	-ms-border-bottom-right-radius: 15px;
	-ms-border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
  margin: 4px 0 16px 18px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	color: #808080;
  
  
}



/* accordion */

/* question end */
/*contact*/
.contact{
	padding-top: 130px;
	padding-bottom: 135px;
	background: url('../img/CallToAction.jpg') 0 0/cover no-repeat;
}
.contact .title h2{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 44px;
	text-align: center;
	color: #FFFFFF;
}
/* modal */
.contact_btn{
	box-sizing: border-box;
	display: block;
	height: 56px;
	width: 152px;
	margin: 0 auto;
	background: #FFFFFF;
	border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-ms-border-radius: 15px;
	transition: 0.5s linear;
	-webkit-transition: 0.5s linear;
	-moz-transition: 0.5s linear;
	-ms-transition: 0.5s linear;
	margin-top: 21px;
	cursor: pointer;
}
.contact_btn:hover{
	background: #ffffff75;
}
.open_modal{
	display: block;
	margin: 0 auto;
	text-align: center;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 56px;
	color: transparent;
	background: linear-gradient(90deg, #FF6800 0%, #FF1F00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	-moz-background-clip: text;
  -moz-text-fill-color: transparent;
	-ms-background-clip: text;
  -ms-text-fill-color: transparent;
	background-clip: text;
  color: #0B2349;
  display: table;
	
}
.modal {
    display: none;
    background: #00000071;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
}
.modal_vis {
    display: block;
}
.body_block {
    overflow: hidden;
    margin-right: 17px;
}
#close_modal {
    color: #FFFFFF ;
    font-size: 36px;
    font-weight: bold;
    font-family: Times, sans-serif;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: 13px;
		top: 15px;
    transform: rotate(45deg);
    transition: all 0.6s;
		-webkit-transition: 0.6s linear;
		-moz-transition: 0.6s linear;
		-ms-transition: 0.6s linear;
    box-sizing: content-box;
}
#close_modal:hover {
    color: #FFF;
    transform: rotate(135deg);
}
.modal_body {
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    background: rgb(0, 0, 0);
    margin: 100px auto;
    max-width: 662px;
		position: relative;
}
.modal .modal_head h2{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 1000;
	font-size: 50px;
	line-height: 150%;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
}
.modal .form{
	padding: 15px 50px 50px 50px;
}
.modal .form .modal_input {
	display: block;
	width: 100%;
	margin-top: 40px;
	background-color: transparent;
	border-bottom: 1px solid #D6D8E7;
	padding: 3px 0 10px 17px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	color: #FFFFFF;
	mix-blend-mode: normal;
	opacity: 1;
	transition: 0.4s all linear;
	-webkit-transition: 0.4s all linear;
	-moz-transition: 0.4s all linear;
	-ms-transition: 0.4s all linear;
	-webkit-border-top-left-radius: 15px;
	-moz-border-radius-top-left: 15px;
	-ms-border-radius-top-left: 15px;
	border-top-left-radius: 15px;
}
.modal .form .modal_input:hover{
	background-color: rgba(255, 255, 255, 0.082);
}
.modal .form .modal_input:focus{
	background-color: rgba(255, 255, 255, 0.082);
}
.modal .form .modal_input::placeholder{
	opacity: 0.6;
}

.modal .form .fname,
.modal .form .lname {
	max-width: 260px;
}
.modal .form .full_name{
	display: flex;
	justify-content: space-between;
}
.modal .form .conditions_label{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	margin-top: 24px;
	display: inline-block;
}
.modal .form .conditions_label a{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	text-decoration-line: underline;
}
#conditions{
	margin-top: 24px;
	margin-right: 16px;
}

input[type=checkbox], input[type=radio] {display: none;}

input[type=checkbox] + label:before {
    content: "\2714";
    color: transparent;
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 11px;
    font-weight: 900;
    line-height: 22px;
    height: 24px;
    width: 24px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;		
		margin-right: 16px;
}

input[type=checkbox]:checked + label:before {
    color: white;
  
}



/*footer start*/

/*footer end*/

